<section class="content-body">
  <div class="col-md-12 no-padding">
    <div class="box">
      <div class="box-header">
        <div>
          <h5 class="box-title">Routers</h5>
        </div>
        <div>
          <button type="button" class="btn btn-success mr-2" (click)="onAddDeviceClick()">Add Device</button>
          <button type="button" class="btn btn-success mr-2">Scan</button>
          <button type="button" class="btn btn-success mr-2">Discover Subnets</button>
          <button type="button" class="btn btn-success" (click)="onDelete()">Delete</button>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="box-body">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th style="width: 37px;"></th>
              <th>Device Name</th>
              <th>IP Address</th>
              <th>Last Scan Time</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="routers && routers.length > 0">
              <tr *ngFor="let router of routers">
                <td style="width: 37px;">
                  <input type="checkbox" name="device" (change)="routerRowChkBoxHandler($event, router)" [value]="router.deviceId">
                </td>
                <td>{{ router.deviceName }}</td>
                <td>{{ router.deviceIPAddress }}</td>
                <td>{{ router.lastScanTime }}</td>
                <td>{{ router.status }}</td>
              </tr>
            </ng-container>
            <tr *ngIf="routers == null || routers.length == 0">
              <td colspan="6" style="text-align: center">
                {{ statusMessage }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<app-add-router [routersList]="routers" [(openWidth)]="width" (closeWidth)="closeAddDevice($event)"></app-add-router>