<div class="row content-section" [ngStyle]="{ width: openDNSWidth + '%' }">
  <div class="col-md-6 blur-section"></div>
  <div class="col-md-6 page-section">
    <div class="row pageHeader">
      <div class="col-10">
        <h4 class="mb-0">Add DNS Server</h4>
      </div>
      <div class="col-2 text-right">
        <button
          pButton
          type="button"
          icon="pi pi-times"
          class="p-button-secondary p-button-text"
          (click)="onCancel()"
        ></button>
      </div>
    </div>
    <div class="row pageContent">
      <div class="col">
        <form class="form-section">
          <div class="row form-row">
            <div class="col">
              <h6>DNS Server Name</h6>
              <input
                type="text"
                placeholder="Enter multiple address as comma separated (,)"
                pInputText
                class="w-100"
              />
            </div>
          </div>
          <div class="row form-row">
            <div class="col-12 col-md-6">
              <h6>Enter Minimum Round Trip Time</h6>
              <div class="input-group">
                <input type="text" pInputText />
                <div class="input-group-append">
                  <div class="input-group-text">ms</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row form-row">
              <div class="col">
                <p class="text-danger"><i class="pi pi-exclamation-circle"></i> Misconfiguration in scan settings may lead to a delay in subnet scanning.</p>
              </div>
          </div>
          <p-divider></p-divider>
          <div class="row">
            <div class="col text-right">
              <p-button
                label="Cancel"
                styleClass="p-button-secondary p-button-sm"
                (click)="onCancel()"
              >
              </p-button>
              <p-button
                label="Save"
                styleClass="p-button-success p-button-sm ml-2"
              ></p-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
