<mat-tab-group animationDuration="0ms">
  <mat-tab label="IP Details">
    <section class="content-body">
      <div class="col-md-12 no-padding">
        <div class="box">
          <div class="box-header">
            <h5 class="box-title">IPs</h5>
          </div>
          <p-contextMenu
            #cm
            [model]="cmenuitems"
            appendTo="body"
            triggerEvent="click"
            [autoZIndex]="true"
          ></p-contextMenu>
          <div class="box-body table-responsive">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th width="150">IP Address</th>
                  <th>MAC Address</th>
                  <!-- <th>IP->DNS</th>
                  <th>DNS->IP</th> -->
                  <th>DNS Status</th>
                  <th>Status</th>
                  <th>Device Type</th>
                  <th>Connected Switch</th>
                  <!-- <th>Connected Port</th> -->
                  <th>Last Scan</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="ipDetails && ipDetails.length > 0">
                  <tr *ngFor="let ipDetail of ipDetails">
                    <td width="150">
                      <span class="mr-2">{{ ipDetail.ipAddress }}</span>
                      <i
                        class="fas fa-caret-right"
                        (click)="openCM($event, cm, ipDetail)"
                      ></i>
                    </td>
                    <td>{{ ipDetail.macAddress }}</td>
                    <!-- <td>{{ ipDetail.ipDNS }}</td>
                    <td>{{ ipDetail.dnsIp }}</td> -->
                    <td>{{ ipDetail.dnsStatus }}</td>
                    <td>
                      <span [ngSwitch]="ipDetail.status">
                        <i class="fas fa-check-circle text-success" *ngSwitchCase="'Available'"></i>
                        <i class="fas fa-circle text-danger" *ngSwitchCase="'Used'"></i>
                        <i class="fas fa-circle text-warning" *ngSwitchCase="'Transient'"></i>
                        <i class="fas fa-circle text-muted" *ngSwitchCase="'Not Reachable'"></i>
                      </span>
                      <a href="javascript:void()" class="ml-2" (click)="editIpDetails(ipDetail)">{{ ipDetail.status }}</a>
                    </td>
                    <td>{{ ipDetail.deviceType }}</td>
                    <td>{{ ipDetail.connectedSwitch }}</td>
                    <!-- <td>{{ ipDetail.connectedPort }}</td> -->
                    <td style="text-align: center;">
                      <ng-container *ngIf="ipDetail.lastScan.toString().indexOf('0001-01-01') !== -1; else elseTemplate">
                        <button class="btn btn-sm btn-outline-primary" type="button" (click)="scanIP(ipDetail.subnetIPId)">Scan Now</button>
                      </ng-container>
                      <ng-template #elseTemplate>
                        <a (click)="scanIP(ipDetail.subnetIPId)" role="button">{{ ipDetail.lastScan | date:'MM-dd-yyyy hh:mm:ss a' }}</a>
                      </ng-template>
                    </td>
                  </tr>
                </ng-container>
                <tr *ngIf="ipDetails == null || ipDetails.length == 0">
                  <td colspan="9" style="text-align: center">
                    {{ statusMessage }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </mat-tab>
  <mat-tab label="IP History">
    <section class="content-body">
      <div class="col-md-12 no-padding">
        <div class="box">
          <div class="box-header">
            <h5 class="box-title">IP History</h5>
          </div>
          <p-contextMenu
            #cm2
            [model]="cmenuitems"
            appendTo="body"
            triggerEvent="click"
            [autoZIndex]="true"
          ></p-contextMenu>
          <div class="box-body">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th data-column="ipAddress">IP Address</th>
                  <th data-column="detectedTime">Detected Time</th>
                  <th data-column="dnsName">DNS Name</th>
                  <th data-column="macAddress">MAC Address</th>
                  <th data-column="deviceType">Device Type</th>
                  <!-- <th data-column="sysDesc" style="width: 125px;">Sys Description</th> -->
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="ipHistories && ipHistories.length > 0">
                  <tr *ngFor="let ipHistory of ipHistories">
                    <td>
                      <span class="mr-2">{{ ipHistory.ipAddress }}</span>
                      <i
                        class="fas fa-caret-right"
                        (click)="openCM($event, cm2, ipHistory)"
                      ></i>
                    </td>
                    <td>{{ ipHistory.detectedTime }}</td>
                    <td>{{ ipHistory.dnsName }}</td>
                    <td>{{ ipHistory.macAddress }}</td>
                    <td>{{ ipHistory.deviceType }}</td>
                    <!-- <td>{{ ipHistory.sysDesc }}</td> -->
                  </tr>
                </ng-container>
                <tr *ngIf="ipHistories == null || ipHistories.length == 0">
                  <td colspan="9" style="text-align: center">
                    {{ statusMessage }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </mat-tab>
</mat-tab-group>

<app-edit-subnet
[(ipDetail)]="editSelectedIpDetail"
[(openWidth)]="editWidth"
(closeWidth)="closeDivEdit($event)"
></app-edit-subnet>

<app-test-ip
  [(pageTitle)]="pageTitle"
  [(ipDetail)]="selectedIpDetail"
  [(openWidth)]="width"
  (closeWidth)="closeDiv($event)"
></app-test-ip>