<div class="row content-section" [ngStyle]="{'width': openWidth + '%'}">
    <div class="col-md-6 blur-section"></div>
    <div class="col-md-6 page-section">
        <div class="row pageHeader">
            <div class="col-10">
                <h4 class="mb-0">{{pageTitle}}</h4>
            </div>
            <div class="col-2 text-right">
                <button pButton type="button" icon="pi pi-times" class="p-button-secondary p-button-text"
                    (click)="onCancel()"></button>
            </div>
        </div>
        <div class="row pageContent" *ngIf="isAddIPv4Subnet">
            <div class="col">
                <form class="form-section">
                    <div class="row form-row">
                        <div class="col">
                            <mat-radio-group>
                                <mat-radio-button value="addmanual" checked="true" (change)="ipv4RadioChange($event)">Add Manually</mat-radio-button>
                                <mat-radio-button value="importcsv" (change)="ipv4RadioChange($event)">Import from CSV</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="row form-row" *ngIf="isAddManual">
                        <div class="col">
                            <h6>Group Name</h6>
                            <div class="row">
                                <div class="col pr-0">
                                    <p-dropdown [options]="subnetGroups" name="subnetGroupId" [(ngModel)]="addSubnet.subnetGroup" placeholder="Select Group" optionLabel="groupName"
                                        styleClass="w-100" *ngIf="!isAdd"></p-dropdown>
                                    <input type="text" pInputText class="w-100" *ngIf="isAdd" name="subnetGroupName" [(ngModel)]="addSubnet.subnetGroupName"/>
                                </div>
                                <div class="col">
                                    <button pButton pRipple type="button" icon="pi pi-plus"
                                        class="p-button-success p-button-rounded" (click)="addClick()"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row" *ngIf="isAddManual">
                        <div class="col">
                            <h6>Subnet/Network Address</h6>
                            <input type="text" pInputText class="w-100" name="subnetAddress" [(ngModel)]="addSubnet.subnetAddress" required/>
                        </div>
                        <div class="col">
                            <h6>Subnet Mask</h6>
                            <p-dropdown [options]="subnetMasks" name="subnetMaskId" [(ngModel)]="addSubnet.subnetMask" placeholder="Select Subnet Mask" optionLabel="displaySubnetMask"
                                styleClass="w-100"></p-dropdown>
                        </div>
                    </div>
                    <div class="row form-row" *ngIf="isAddManual">
                        <div class="col">
                            <h6>Subnet Name</h6>
                            <input type="text" pInputText class="w-100" name="subnetName" [(ngModel)]="addSubnet.subnetName" />
                        </div>
                        <div class="col">
                            <h6>Description</h6>
                            <input type="text" pInputText class="w-100" name="subnetDescription" [(ngModel)]="addSubnet.subnetDescription" />
                        </div>
                    </div>
                    <div class="row form-row" *ngIf="isAddManual">
                        <div class="col">
                            <h6>VLAN Name</h6>
                            <input type="text" pInputText class="w-100" name="vlanName" [(ngModel)]="addSubnet.vlanName" />
                        </div>
                        <div class="col">
                            <h6>Location</h6>
                            <input type="text" pInputText class="w-100" name="location" [(ngModel)]="addSubnet.location" />
                        </div>
                    </div>
                    <div class="row form-row" *ngIf="!isAddManual">
                        <div class="col">
                            <h6>Import File</h6>
                            <p-fileUpload url="./upload.php" (onUpload)="onUpload($event)">
                                <ng-template pTemplate="content">
                                    <ul *ngIf="uploadedFiles.length">
                                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                    </ul>
                                </ng-template>
                            </p-fileUpload>
                        </div>
                    </div>
                    <p-divider></p-divider>
                    <div class="row">
                        <div class="col text-right">
                            <p-button label="Cancel" styleClass="p-button-secondary p-button-sm" (click)="onCancel()">
                            </p-button>
                            <p-button label="Add" styleClass="p-button-success p-button-sm ml-2" (click)="save()"></p-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row pageContent" *ngIf="isAddIPv6SubnetSite">
            <div class="col">
                <form class="form-section">
                    <div class="row form-row">
                        <div class="col">
                            <mat-radio-group>
                                <mat-radio-button value="gp" checked="true" (change)="ipv6RadioChange($event)">Global Prefix</mat-radio-button>
                                <mat-radio-button value="ss" (change)="ipv6RadioChange($event)">Subnet/Site</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="row form-row" *ngIf="!isGP">
                        <div class="col">
                            <h6>Company</h6>
                            <div class="row">
                                <div class="col pr-0">
                                    <p-dropdown [options]="companies" placeholder="Select Company" name="companyId" optionLabel="name" [(ngModel)]="addIpv6Subnet.subnetCompany" styleClass="w-100" *ngIf="!isAdd"></p-dropdown>
                                    <input type="text" pInputText class="w-100" *ngIf="isAdd" name="companyName" [(ngModel)]="addIpv6Subnet.companyName"/>
                                </div>
                                <div class="col">
                                    <button pButton pRipple type="button" icon="pi pi-plus"
                                        class="p-button-success p-button-rounded" (click)="addClick()"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-12 col-md-6">
                            <h6>Prefix Name</h6>
                            <input type="text" name="prefixName" [(ngModel)]="addIpv6Subnet.prefixName" pInputText class="w-100" />
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-12 col-md-6">
                            <h6>Prefix Address</h6>
                            <input type="text" name="prefixAddress" [(ngModel)]="addIpv6Subnet.prefixAddress" pInputText aria-describedby="prefix-address-help" class="w-100" />
                            <small id="prefix-address-help">Ex: </small>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-12 col-md-6">
                            <h6>Prefix Length</h6>
                            <p-dropdown [options]="prefixLengths" name="prefixLength" [(ngModel)]="addIpv6Subnet.subnetPrefixLength" placeholder="Select Length" optionLabel="name" styleClass="w-100"></p-dropdown>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-12 col-md-6">
                            <h6>Prefix Description</h6>
                            <textarea name="prefixDescription" [(ngModel)]="addIpv6Subnet.prefixDescription" pInputTextarea class="w-100"></textarea>
                        </div>
                    </div>
                    <p-divider></p-divider>
                    <div class="row">
                        <div class="col text-right">
                            <p-button label="Cancel" styleClass="p-button-secondary p-button-sm" (click)="onCancel()">
                            </p-button>
                            <p-button label="Add" styleClass="p-button-success p-button-sm ml-2" (click)="save()"></p-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row pageContent" *ngIf="isAddDHCPServer">
            <div class="col">
                <form class="form-section">
                    <div class="row form-row">
                        <div class="col-12 col-md-6">
                            <h6>Server Name</h6>
                            <input type="text" pInputText class="w-100" />
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-12 col-md-6">
                            <h6>Server Type</h6>
                            <p-dropdown
                                [options]="serverTypes"
                                placeholder="Choose Server Type"
                                optionLabel="name"
                                styleClass="w-100"
                                name="serverType"
                                [(ngModel)]="selectedServerType"
                                optionValue="serverTypeId"
                                (onChange)="onServerTypeChange($event)">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-12 col-md-6">
                            <h6 class="d-flex justify-content-between">Select AD Domain <a href="ipam/DHCPSummary/domains">Add Domain</a></h6>
                            <p-dropdown [options]="domainList" placeholder="Choose AD Domain" optionLabel="domainName" optionValue="domainId" styleClass="w-100"></p-dropdown>
                        </div>
                    </div>
                    <div [ngSwitch]="selectedServerType">
                        <div *ngSwitchCase="'paf'">
                            <div class="row form-row">
                                <div class="col">
                                    <mat-radio-group>
                                        <mat-radio-button [value]="pafRadio1" checked="true" (change)="ipv4RadioChange($event)">REST API</mat-radio-button>
                                        <mat-radio-button [value]="pafRadio2" (change)="ipv4RadioChange($event)">CLI Credential</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div [ngSwitch]="selectedPafType">
                                <div *ngSwitchCase="pafRadio1">
                                    <div class="row form-row">
                                        <div class="col">
                                            <h6>User Name</h6>
                                            <input type="text" pInputText class="w-100" />
                                        </div>
                                        <div class="col">
                                            <h6>Password</h6>
                                            <input type="password" pInputText class="w-100" />
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col">
                                            <h6>Time Out <span class="text-muted">(sec)</span></h6>
                                            <input type="text" pInputText class="w-100" />
                                        </div>
                                        <div class="col">
                                            <h6>Retries</h6>
                                            <input type="text" pInputText class="w-100" />
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase="pafRadio2">
                                    <div class="row form-row">
                                        <div class="col-12 col-md-6">
                                            <h6>Protocol</h6>
                                            <p-dropdown
                                                [options]="protocols"
                                                placeholder="Choose AD Domain"
                                                optionLabel="name"
                                                name="protocol"
                                                [(ngModel)]="selectedProtocol"
                                                optionValue="code"
                                                styleClass="w-100">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col">
                                            <h6>User Name</h6>
                                            <input type="text" pInputText class="w-100" />
                                        </div>
                                        <div class="col">
                                            <h6>Password<sup class="text-danger">*</sup></h6>
                                            <input type="password" pInputText class="w-100" />
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col">
                                            <h6>Prompt<sup class="text-danger">*</sup></h6>
                                            <input type="text" pInputText class="w-100" />
                                        </div>
                                        <div class="col">
                                            <h6>Enable UserName</h6>
                                            <input type="text" pInputText class="w-100" />
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col">
                                            <h6>Enable Password</h6>
                                            <input type="text" pInputText class="w-100" />
                                        </div>
                                        <div class="col">
                                            <h6>Enable Prompt</h6>
                                            <input type="text" pInputText class="w-100" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div *ngSwitchCase="'ls'">
                            <div class="row form-row">
                                <div class="col-12 col-md-6">
                                    <h6>User Name</h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-12 col-md-6">
                                    <h6>Password</h6>
                                    <input type="password" pInputText class="w-100" />
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-12 col-md-6">
                                    <h6>Port Number</h6>
                                    <input type="number" pInputText class="w-100" />
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchCase="'cr'">
                            <div class="row form-row">
                                <div class="col-12 col-md-6">
                                    <h6>Protocol</h6>
                                    <p-dropdown
                                        [options]="protocols"
                                        placeholder="Choose AD Domain"
                                        optionLabel="name"
                                        name="protocol"
                                        [(ngModel)]="selectedProtocol"
                                        optionValue="code"
                                        styleClass="w-100">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col">
                                    <h6>User Name</h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                                <div class="col">
                                    <h6>Password<sup class="text-danger">*</sup></h6>
                                    <input type="password" pInputText class="w-100" />
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col">
                                    <h6>Prompt<sup class="text-danger">*</sup></h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                                <div class="col">
                                    <h6>Enable UserName</h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col">
                                    <h6>Enable Password</h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                                <div class="col">
                                    <h6>Enable Prompt</h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchCase="'ff'">
                            <div class="row form-row">
                                <div class="col-12 col-md-6">
                                    <h6>Protocol</h6>
                                    <p-dropdown
                                        [options]="protocols"
                                        placeholder="Choose AD Domain"
                                        optionLabel="name"
                                        name="protocol"
                                        [(ngModel)]="selectedProtocol"
                                        optionValue="code"
                                        styleClass="w-100">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col">
                                    <h6>User Name</h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                                <div class="col">
                                    <h6>Password<sup class="text-danger">*</sup></h6>
                                    <input type="password" pInputText class="w-100" />
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col">
                                    <h6>Prompt<sup class="text-danger">*</sup></h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                                <div class="col">
                                    <h6>Enable UserName</h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col">
                                    <h6>Enable Password</h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                                <div class="col">
                                    <h6>Enable Prompt</h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <p-divider></p-divider>
                    <div class="row">
                        <div class="col text-right">
                            <p-button label="Cancel" styleClass="p-button-secondary p-button-sm" (click)="onCancel()">
                            </p-button>
                            <p-button label="Add" styleClass="p-button-success p-button-sm ml-2"></p-button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- <div class="col" *ngIf="isAddDomain">
                <form class="form-section">
                    <div class="row form-row">
                        <div class="col">
                            <h6>User Name</h6>
                            <input type="text" />
                        </div>
                        <div class="col">
                            <h6>Password</h6>
                            <input type="password" />
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col">
                            <h6>Domain</h6>
                            <input type="text" />
                        </div>
                        <div class="col">
                            <h6>Domain Controller Name</h6>
                            <input type="text" />
                        </div>
                    </div>
                    <p-divider></p-divider>
                    <div class="row">
                        <div class="col text-right">
                            <p-button label="Cancel" styleClass="p-button-secondary p-button-sm" (click)="onAddDomainCancel()">
                            </p-button>
                            <p-button label="Save" styleClass="p-button-success p-button-sm ml-2"></p-button>
                        </div>
                    </div>
                </form>
            </div> -->
        </div>
    </div>
</div>
