<div class="row content-section" [ngStyle]="{'width': openWidth + '%'}">
    <div class="col-md-6 blur-section"></div>
    <div class="col-md-6 page-section">
        <div class="row pageHeader">
            <div class="col-10">
                <h4 class="mb-0">{{pageTitle}}</h4>
            </div>
            <div class="col-2 text-right">
                <button pButton type="button" icon="pi pi-times" class="p-button-secondary p-button-text"
                    (click)="onCancel()"></button>
            </div>
        </div>
        <div class="row pageContent" *ngIf="isAddIPv4Subnet">
            <div class="col">
                <form class="form-section" #ipv4form="ngForm" novalidate>
                    <div class="row form-row">
                        <div class="col">
                            <mat-radio-group>
                                <mat-radio-button value="addmanual" checked="true" (change)="ipv4RadioChange($event)">Add Manually</mat-radio-button>
                                <!-- <mat-radio-button value="importcsv" (change)="ipv4RadioChange($event)">Import from CSV</mat-radio-button> -->
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="row form-row" *ngIf="isAddManual">
                        <div class="col">
                            <h6>Group Name</h6>
                            <div class="row">
                                <div class="col pr-0">
                                    <p-dropdown [hidden]="isAdd" [options]="subnetGroups" name="subnetGroupId" [(ngModel)]="addSubnet.subnetGroup" placeholder="Select Group" optionLabel="groupName"
                                        styleClass="w-100" #subnetGroupSelect="ngModel" [required]="!isAdd"></p-dropdown>
                                    <input 
                                        type="text" 
                                        pInputText 
                                        class="w-100" 
                                        [hidden]="!isAdd"
                                        #subnetGroupInput="ngModel" 
                                        [required]="isAdd" 
                                        name="subnetGroupName" 
                                        [(ngModel)]="addSubnet.subnetGroupName"/>
                                    <div *ngIf="(subnetGroupSelect.invalid && (subnetGroupSelect.touched || subnetGroupSelect.dirty)) || 
                                                (subnetGroupInput.invalid && (subnetGroupInput.touched || subnetGroupInput.dirty))">
                                        <span class="text-danger">Field is required!</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <button pButton pRipple type="button" icon="pi pi-plus"
                                        class="p-button-success p-button-rounded" (click)="addClick()"></button>

                                        <div class="ml-5" style="display: inline;">
                                            <mat-radio-group name="accessMode" [(ngModel)]="addSubnet.accessMode">
                                                <mat-radio-button value="Private" checked="true">Private</mat-radio-button>
                                                <mat-radio-button value="Public" >Public</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                </div>
                            </div>                          
                        </div>
                    </div>
                    <div class="row form-row" *ngIf="isAddManual">
                        <div class="col">
                            <h6>Subnet/Network Address</h6>
                            <input 
                                type="text" 
                                pInputText 
                                class="w-100" 
                                #subnetAddress="ngModel"
                                name="subnetAddress" 
                                [(ngModel)]="addSubnet.subnetAddress" 
                                pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$"
                                required/>
                            <div *ngIf="subnetAddress.invalid && (subnetAddress.touched || subnetAddress.dirty)">
                                <span class="text-danger" *ngIf="subnetAddress.errors.required">Field is required!</span>
                                <span class="text-danger" *ngIf="subnetAddress.errors.pattern">Enter valid value!</span>
                            </div>
                        </div>
                        <div class="col">
                            <h6>Subnet Mask</h6>
                            <p-dropdown [options]="subnetMasks" #subnetMaskId="ngModel" name="subnetMaskId" [(ngModel)]="addSubnet.subnetMask" placeholder="Select Subnet Mask" optionLabel="displaySubnetMask"
                                styleClass="w-100" [required]="true"></p-dropdown>
                            <div *ngIf="subnetMaskId.invalid && (subnetMaskId.touched || subnetMaskId.dirty)">
                                <span class="text-danger">Field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row" *ngIf="isAddManual">
                        <div class="col">
                            <h6>Subnet Name</h6>
                            <input type="text" pInputText class="w-100" #subnetName="ngModel" name="subnetName" [(ngModel)]="addSubnet.subnetName" required />
                            <div *ngIf="subnetName.invalid && (subnetName.touched || subnetName.dirty)">
                                <span class="text-danger">Field is required!</span>
                            </div>
                        </div>
                        <div class="col">
                            <h6>Description</h6>
                            <input type="text" pInputText class="w-100" #subnetDesc="ngModel" name="subnetDescription" [(ngModel)]="addSubnet.subnetDescription" required />
                            <div *ngIf="subnetDesc.invalid && (subnetDesc.touched || subnetDesc.dirty)">
                                <span class="text-danger">Field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row" *ngIf="isAddManual">
                        <div class="col">
                            <h6>VLAN Id</h6>
                            <input type="text" pInputText class="w-100" #vlanId="ngModel" name="vlanId" [(ngModel)]="addSubnet.vlanId" required />
                            <div *ngIf="vlanId.invalid && (vlanId.touched || vlanId.dirty)">
                                <span class="text-danger">Field is required!</span>
                            </div>
                        </div>
                        <div class="col">
                            <h6>VLAN Name</h6>
                            <input type="text" pInputText class="w-100" #vlanName="ngModel" name="vlanName" [(ngModel)]="addSubnet.vlanName" required />
                            <div *ngIf="vlanName.invalid && (vlanName.touched || vlanName.dirty)">
                                <span class="text-danger">Field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row" *ngIf="isAddManual">
                        <div class="col">
                            <h6>Location</h6>
                            <input type="text" pInputText class="w-100" #location="ngModel" name="location" [(ngModel)]="addSubnet.location" required />
                            <div *ngIf="location.invalid && (location.touched || location.dirty)">
                                <span class="text-danger">Field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row" *ngIf="!isAddManual">
                        <div class="col">
                            <h6>Import File</h6>
                            <p-fileUpload url="./upload.php" (onUpload)="onUpload($event)">
                                <ng-template pTemplate="content">
                                    <ul *ngIf="uploadedFiles.length">
                                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                    </ul>
                                </ng-template>
                            </p-fileUpload>
                        </div>
                    </div>
                    <p-divider></p-divider>
                    <div class="row">
                        <div class="col text-right">
                            <p-button label="Cancel" styleClass="p-button-secondary p-button-sm" (click)="onCancel()"></p-button>
                            <p-button label="Add" styleClass="p-button-success p-button-sm ml-2" (click)="save()" [disabled]="ipv4form.invalid ? true : false"></p-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row pageContent" *ngIf="isAddIPv6SubnetSite">
            <div class="col">
                <form #ipv6form="ngForm" class="form-section" novalidate>
                    <div class="row form-row">
                        <div class="col">
                            <mat-radio-group>
                                <mat-radio-button value="gp" checked="true" (change)="ipv6RadioChange($event)">Global Prefix</mat-radio-button>
                                <mat-radio-button value="ss" (change)="ipv6RadioChange($event)">Subnet/Site</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="row form-row" *ngIf="!isGP">
                        <div class="col">
                            <h6>Company</h6>
                            <div class="row">
                                <div class="col pr-0">
                                    <p-dropdown [options]="companies" #companyId="ngModel" placeholder="Select Company" name="companyId" optionLabel="name" [(ngModel)]="addIpv6Subnet.subnetCompany" styleClass="w-100" [required]="!isAdd" [hidden]="isAdd"></p-dropdown>
                                    <input type="text" pInputText #companyName="ngModel" class="w-100" [required]="isAdd" [hidden]="!isAdd" name="companyName" [(ngModel)]="addIpv6Subnet.companyName"/>
                                    <div *ngIf="companyId.invalid && (companyId.touched || companyId.dirty)">
                                        <span class="text-danger">Field is required!</span>
                                    </div>
                                </div>
                                <div class="col">
                                    <button pButton pRipple type="button" icon="pi pi-plus"
                                        class="p-button-success p-button-rounded" (click)="addClick()"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-12 col-md-6">
                            <h6>Prefix Name</h6>
                            <input type="text" #prefixName="ngModel" name="prefixName" [(ngModel)]="addIpv6Subnet.prefixName" pInputText class="w-100" required />
                            <div *ngIf="prefixName.invalid && (prefixName.touched || prefixName.dirty)">
                                <span class="text-danger">Field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-12 col-md-6">
                            <h6>Prefix Address</h6>
                            <input type="text" #prefixAddress="ngModel" name="prefixAddress" [(ngModel)]="addIpv6Subnet.prefixAddress" pInputText aria-describedby="prefix-address-help" class="w-100" required />
                            <small id="prefix-address-help">Ex: </small>
                            <div *ngIf="prefixAddress.invalid && (prefixAddress.touched || prefixAddress.dirty)">
                                <span class="text-danger">Field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-12 col-md-6">
                            <h6>Prefix Length</h6>
                            <p-dropdown [options]="prefixLengths" #prefixLength="ngModel" name="prefixLength" [(ngModel)]="addIpv6Subnet.subnetPrefixLength" placeholder="Select Length" optionLabel="name" styleClass="w-100" [required]="true"></p-dropdown>
                            <div *ngIf="prefixLength.invalid && (prefixLength.touched || prefixLength.dirty)">
                                <span class="text-danger">Field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-12 col-md-6">
                            <h6>Prefix Description</h6>
                            <textarea name="prefixDescription" [(ngModel)]="addIpv6Subnet.prefixDescription" pInputTextarea class="w-100"></textarea>
                        </div>
                    </div>
                    <p-divider></p-divider>
                    <div class="row">
                        <div class="col text-right">
                            <p-button label="Cancel" styleClass="p-button-secondary p-button-sm" (click)="onCancel()">
                            </p-button>
                            <p-button label="Add" styleClass="p-button-success p-button-sm ml-2" (click)="save()" [disabled]="ipv6form.invalid ? true : false"></p-button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row pageContent" *ngIf="isAddDHCPServer">
            <div class="col">
                <form class="form-section" #dhcpform="ngForm" novalidate>
                    <div class="row form-row">
                        <div class="col-12 col-md-6">
                            <h6>Server Name</h6>
                            <input type="text" #serverName="ngModel" name="servername" pInputText class="w-100" ngModel required />
                            <div *ngIf="serverName.invalid && (serverName.touched || serverName.dirty)">
                                <span class="text-danger">Field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-12 col-md-6">
                            <h6>Server Type</h6>
                            <p-dropdown
                                [options]="serverTypes"
                                placeholder="Choose Server Type"
                                optionLabel="name"
                                styleClass="w-100"
                                #serverType="ngModel"
                                name="serverType"
                                [(ngModel)]="selectedServerType"
                                optionValue="serverTypeId"
                                (onChange)="onServerTypeChange($event)"
                                [required]="true">
                            </p-dropdown>
                            <div *ngIf="serverType.invalid && (serverType.touched || serverType.dirty)">
                                <span class="text-danger">Field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col-12 col-md-6">
                            <h6 class="d-flex justify-content-between">Select AD Domain <a href="ipam/DHCPSummary/domains">Add Domain</a></h6>
                            <p-dropdown [options]="domainList" placeholder="Choose AD Domain" #domainName="ngModel" ngModel name="domainName" optionLabel="domainName" optionValue="domainId" styleClass="w-100" [required]="true"></p-dropdown>
                            <div *ngIf="domainName.invalid && (domainName.touched || domainName.dirty)">
                                <span class="text-danger">Field is required!</span>
                            </div>
                        </div>
                    </div>
                    <div [ngSwitch]="selectedServerType">
                        <div *ngSwitchCase="'paf'">
                            <div class="row form-row">
                                <div class="col">
                                    <mat-radio-group>
                                        <mat-radio-button [value]="pafRadio1" checked="true" (change)="ipv4RadioChange($event)">REST API</mat-radio-button>
                                        <mat-radio-button [value]="pafRadio2" (change)="ipv4RadioChange($event)">CLI Credential</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div [ngSwitch]="selectedPafType">
                                <div *ngSwitchCase="pafRadio1">
                                    <div class="row form-row">
                                        <div class="col">
                                            <h6>User Name</h6>
                                            <input type="text" pInputText class="w-100" />
                                        </div>
                                        <div class="col">
                                            <h6>Password</h6>
                                            <input type="password" pInputText class="w-100" />
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col">
                                            <h6>Time Out <span class="text-muted">(sec)</span></h6>
                                            <input type="text" pInputText class="w-100" />
                                        </div>
                                        <div class="col">
                                            <h6>Retries</h6>
                                            <input type="text" pInputText class="w-100" />
                                        </div>
                                    </div>
                                </div>
                                <div *ngSwitchCase="pafRadio2">
                                    <div class="row form-row">
                                        <div class="col-12 col-md-6">
                                            <h6>Protocol</h6>
                                            <p-dropdown
                                                [options]="protocols"
                                                placeholder="Choose AD Domain"
                                                optionLabel="name"
                                                name="protocol"
                                                [(ngModel)]="selectedProtocol"
                                                optionValue="code"
                                                styleClass="w-100">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col">
                                            <h6>User Name</h6>
                                            <input type="text" pInputText class="w-100" />
                                        </div>
                                        <div class="col">
                                            <h6>Password<sup class="text-danger">*</sup></h6>
                                            <input type="password" pInputText class="w-100" />
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col">
                                            <h6>Prompt<sup class="text-danger">*</sup></h6>
                                            <input type="text" pInputText class="w-100" />
                                        </div>
                                        <div class="col">
                                            <h6>Enable UserName</h6>
                                            <input type="text" pInputText class="w-100" />
                                        </div>
                                    </div>
                                    <div class="row form-row">
                                        <div class="col">
                                            <h6>Enable Password</h6>
                                            <input type="text" pInputText class="w-100" />
                                        </div>
                                        <div class="col">
                                            <h6>Enable Prompt</h6>
                                            <input type="text" pInputText class="w-100" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div *ngSwitchCase="'ls'">
                            <div class="row form-row">
                                <div class="col-12 col-md-6">
                                    <h6>User Name</h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-12 col-md-6">
                                    <h6>Password</h6>
                                    <input type="password" pInputText class="w-100" />
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col-12 col-md-6">
                                    <h6>Port Number</h6>
                                    <input type="number" pInputText class="w-100" />
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchCase="'cr'">
                            <div class="row form-row">
                                <div class="col-12 col-md-6">
                                    <h6>Protocol</h6>
                                    <p-dropdown
                                        [options]="protocols"
                                        placeholder="Choose AD Domain"
                                        optionLabel="name"
                                        name="protocol"
                                        [(ngModel)]="selectedProtocol"
                                        optionValue="code"
                                        styleClass="w-100">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col">
                                    <h6>User Name</h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                                <div class="col">
                                    <h6>Password<sup class="text-danger">*</sup></h6>
                                    <input type="password" pInputText class="w-100" />
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col">
                                    <h6>Prompt<sup class="text-danger">*</sup></h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                                <div class="col">
                                    <h6>Enable UserName</h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col">
                                    <h6>Enable Password</h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                                <div class="col">
                                    <h6>Enable Prompt</h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                            </div>
                        </div>
                        <div *ngSwitchCase="'ff'">
                            <div class="row form-row">
                                <div class="col-12 col-md-6">
                                    <h6>Protocol</h6>
                                    <p-dropdown
                                        [options]="protocols"
                                        placeholder="Choose AD Domain"
                                        optionLabel="name"
                                        name="protocol"
                                        [(ngModel)]="selectedProtocol"
                                        optionValue="code"
                                        styleClass="w-100">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col">
                                    <h6>User Name</h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                                <div class="col">
                                    <h6>Password<sup class="text-danger">*</sup></h6>
                                    <input type="password" pInputText class="w-100" />
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col">
                                    <h6>Prompt<sup class="text-danger">*</sup></h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                                <div class="col">
                                    <h6>Enable UserName</h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                            </div>
                            <div class="row form-row">
                                <div class="col">
                                    <h6>Enable Password</h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                                <div class="col">
                                    <h6>Enable Prompt</h6>
                                    <input type="text" pInputText class="w-100" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <p-divider></p-divider>
                    <div class="row">
                        <div class="col text-right">
                            <p-button label="Cancel" styleClass="p-button-secondary p-button-sm" (click)="onCancel()">
                            </p-button>
                            <p-button label="Add" styleClass="p-button-success p-button-sm ml-2" [disabled]="dhcpform.invalid ? true : false"></p-button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- <div class="col" *ngIf="isAddDomain">
                <form class="form-section">
                    <div class="row form-row">
                        <div class="col">
                            <h6>User Name</h6>
                            <input type="text" />
                        </div>
                        <div class="col">
                            <h6>Password</h6>
                            <input type="password" />
                        </div>
                    </div>
                    <div class="row form-row">
                        <div class="col">
                            <h6>Domain</h6>
                            <input type="text" />
                        </div>
                        <div class="col">
                            <h6>Domain Controller Name</h6>
                            <input type="text" />
                        </div>
                    </div>
                    <p-divider></p-divider>
                    <div class="row">
                        <div class="col text-right">
                            <p-button label="Cancel" styleClass="p-button-secondary p-button-sm" (click)="onAddDomainCancel()">
                            </p-button>
                            <p-button label="Save" styleClass="p-button-success p-button-sm ml-2"></p-button>
                        </div>
                    </div>
                </form>
            </div> -->
        </div>
    </div>
</div>
