<div class="content-container">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="DHCP Summary">
      <section class="content-body">
        <div class="col-md-12 no-padding">
          <div class="box">
            <div class="box-body">
              <div class="row">
                <div class="col-5 section-container">
                  <div class="col-section">
                    <div class="col-section-title d-flex align-items-center">
                      <h6 class="m-0"><b>DHCP Summary</b></h6>
                    </div>
                    <p-divider></p-divider>
                    <div class="row">
                      <div class="col-6">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item font-weight-bold">
                            Server Name
                          </li>
                          <li class="list-group-item font-weight-bold">
                            Server Type
                          </li>
                          <li class="list-group-item font-weight-bold">
                            Total IPs
                          </li>
                          <li class="list-group-item font-weight-bold">
                            MAC Address
                          </li>
                          <li class="list-group-item font-weight-bold">
                            Leased IPs
                          </li>
                          <li class="list-group-item font-weight-bold">
                            DNS Name
                          </li>
                          <li class="list-group-item font-weight-bold">
                            Reserved IPs
                          </li>
                          <li class="list-group-item font-weight-bold">
                            No of Scopes
                          </li>
                          <li class="list-group-item font-weight-bold">
                            Available IPs for Lease
                          </li>
                          <li class="list-group-item font-weight-bold">
                            Scan Status
                          </li>
                        </ul>
                      </div>
                      <p-divider layout="vertical" styleClass="m-0"></p-divider>
                      <div class="col-6">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item">192.168.0.1</li>
                          <li class="list-group-item">Microsoft DHCP Server</li>
                          <li class="list-group-item">170</li>
                          <li class="list-group-item">00:0C:29:C2:FF:6D</li>
                          <li class="list-group-item">24</li>
                          <li class="list-group-item">Test</li>
                          <li class="list-group-item">0</li>
                          <li class="list-group-item">1</li>
                          <li class="list-group-item">142</li>
                          <li class="list-group-item">Scanned</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <p-divider layout="vertical" styleClass="m-0"></p-divider>
                <div class="col-7">
                  <div class="row justify-content-center">
                    <div class="col-6">
                      <div class="chartheight" echarts [options]="eChartLeased"></div>
                    </div>
                    <div class="col-6">
                      <div class="chartheight" echarts [options]="eChartReserved"></div>
                    </div>
                    <div class="col-6">
                      <div class="chartheight" echarts [options]="eChartAvailableIP"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </mat-tab>

    <mat-tab label="Scope Details">
      <section class="content-body">
        <div class="col-md-12 no-padding">
          <div class="box">
            <div class="box-header">
              <h5 class="box-title">Scope</h5>
            </div>
            <div class="box-body">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Scope Address</th>
                    <th>Scope Name</th>
                    <th style="width: 125px">Total IPs</th>
                    <th>Leased IPs</th>
                    <th>Reserved IPs</th>
                    <th>Scope Address Range</th>
                    <th>Scope State</th>
                    <th>Scope Comments</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="dhcpScopes && dhcpScopes.length > 0">
                    <tr *ngFor="let dhcpScope of dhcpScopes">
                      <td>{{ dhcpScope.address }}</td>
                      <td>
                        <a (click)="editScopeName(dhcpScope)" role="button">{{
                          dhcpScope.name
                        }}</a>
                      </td>
                      <td>{{ dhcpScope.totalIPs }}</td>
                      <td>{{ dhcpScope.leasedIPs }}</td>
                      <td>{{ dhcpScope.reservedIPs }}</td>
                      <td>
                        <div class="d-flex align-items-center">
                          <div class="align-self-start w-100">
                            <div
                              class="progress"
                              [pTooltip]="dhcpScope.tooltip"
                              [escape]="false"
                              tooltipPosition="bottom"
                            >
                              <div
                                class="progress-bar"
                                role="progressbar"
                                [ngStyle]="{
                                  'width.%': dhcpScope.addressRange
                                }"
                                aria-valuenow="dhcpScope.addressRange"
                                aria-valuemin="0"
                                aria-valuemax="100"
                              ></div>
                            </div>
                          </div>
                          <div class="align-self-end ml-2 f10">
                            {{ dhcpScope.addressRange }}%
                          </div>
                        </div>
                      </td>
                      <td>{{ dhcpScope.state }}</td>
                      <td>{{ dhcpScope.comments }}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </mat-tab>

    <mat-tab label="IP Address">
      <section class="content-body">
        <div class="col-md-12 no-padding">
          <div class="box">
            <div class="box-header">
              <h5 class="box-title">IP Address</h5>
            </div>
            <p-contextMenu
              #cm
              [model]="cmenuitems"
              appendTo="body"
              triggerEvent="click"
              [autoZIndex]="true"
            ></p-contextMenu>
            <div class="box-body">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>IP Address</th>
                    <th>MAC Address</th>
                    <th>Status</th>
                    <th>Lease Expiry Date</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="ipDetails && ipDetails.length > 0">
                    <tr *ngFor="let ipDetail of ipDetails">
                      <td>
                        <span class="mr-2">{{ ipDetail.ipAddress }}</span>
                        <i
                          class="fas fa-caret-right"
                          (click)="openCM($event, cm, ipDetail)"
                        ></i>
                      </td>
                      <td>{{ ipDetail.macAddress }}</td>
                      <td>
                        <i class="fas fa-circle" style="color: #ee5656"></i>
                        <span class="ml-2">{{ ipDetail.status }}</span>
                      </td>
                      <td>{{ ipDetail.leaseExpiryDate }}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- Update window -->
<app-edit
  [(pageTitle)]="pageTitleEdit"
  [(openEditWidth)]="widthEdit"
  (closeEditWidth)="closeDivEdit($event)"
  [scopeName]="scopeName"
  [scopeComments]="scopeComments"
></app-edit>

<app-test-ip
  [(pageTitle)]="pageTitle"
  [(ipDetail)]="selectedIpDetail"
  [(openWidth)]="width"
  (closeWidth)="closeDiv($event)"
></app-test-ip>
