.progress-bar {
  background-color: rgb(52, 184, 140) !important;
}

.f10 {
    font-size: 10px;
    width: 25px;
}

.flex-grow-1 {
  flex-grow: 1;
}

input[type="radio"] {
  transform: scale(1);
}

.btn-success {
  background: #49bd80;
  border: 1px solid #49bd80;
}