<div class="content-container">
  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Subnet Details">
      <section class="content-body">
        <div class="col-md-12 no-padding">
          <div class="box">
            <div class="box-header d-flex justify-content-between align-items-center">
              <h5 class="box-title">Subnets</h5>
              <div>
                <button type="button" class="btn btn-success mr-2" (click)="editSubnetHandler()">Edit</button>
              </div>
            </div>
            <div class="box-body">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th style="width: 37px;"></th>
                    <th data-column="Address" width="165">Address</th>
                    <th data-column="Name">Name</th>
                    <th data-column="Size">Size</th>
                    <th data-column="Usage">Usage</th>
                    <th data-column="ScanStatus">Scan Status</th>
                    <th data-column="Available">Available</th>
                    <th data-column="Used">Used</th>
                    <th data-column="Transient">Transient</th>
                    <th data-column="LastScanTime">Last Scan Time</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="subnets && subnets.length > 0">
                    <tr *ngFor="let subnet of subnets">
                      <td style="width: 37px;">
                        <input type="radio" name="subnet" [value]="subnet.subnetId" (change)="selectSubnetHandler(subnet)">
                      </td>
                      <td width="165">{{ subnet.subnetAddress }}</td>
                      <td>{{ subnet.subnetName }}</td>
                      <td>{{ subnet.subnetSize }}</td>
                      <td>
                          <div class="d-flex">
                              <div class="flex-grow-1">
                                  <div class="progress">
                                      <div
                                        class="progress-bar"
                                        role="progressbar"
                                        [ngStyle]="{ 'width.%': subnet.subnetUsage }"
                                        aria-valuenow="subnet.usage"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                      ></div>
                                    </div>
                              </div>
                              <div class="ml-2 f10">{{ subnet.subnetUsage }}%</div>
                          </div>
                      </td>
                      <td>
                        <i class="fas fa-check-circle text-success"></i>
                        <span class="ml-2">{{ subnet.scanStatus }}</span>
                      </td>
                      <td>{{ subnet.available }}</td>
                      <td>{{ subnet.used }}</td>
                      <td>{{ subnet.transient }}</td>
                      <td>{{ subnet.lastScanTime | date: "dd/MM/yyyy" }}</td>
                    </tr>
                  </ng-container>
                  <tr *ngIf="subnets == null || subnets.length == 0">
                    <td colspan="9" style="text-align: center">
                      {{ statusMessage }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
    </mat-tab>
    <mat-tab label="IP Details">
      <app-ip-details #openDetail [ipDetails]="ipDetails" [statusMessage]="statusMessage"></app-ip-details>
    </mat-tab>
    <mat-tab label="IP History">
      <app-ip-history [ipHistories]="ipHistories" [statusMessage]="statusMessage"></app-ip-history>
    </mat-tab>
  </mat-tab-group>
</div>

<app-test-ip
  [(pageTitle)]="openDetail.pageTitle"
  [(ipDetail)]="openDetail.selectedIpDetail"
  [(openWidth)]="openDetail.width"
  (closeWidth)="openDetail.closeDiv($event)"
></app-test-ip>

<app-update-subnet 
  [(subnet)]="selectedSubnet" 
  [(openWidth)]="updateSubnetWidth" 
  (closeWidth)="closeDiv($event)"
  >
</app-update-subnet>