<div class="content-container">
    <mat-tab-group animationDuration="0ms">
        <mat-tab label="Summary">
            <section class="content-body">
                <div class="col-md-12 no-padding">
                    <div class="box">
                        <div class="box-header">
                            <h5 class="box-title">Discovered Subnets</h5>
                        </div>
                        <div class="box-body">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Subnet Address</th>
                                        <th>Boradcast Address</th>
                                        <th>Size</th>
                                        <th>Subnet Mask</th>
                                        <th>Added time</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngIf="discoveredSubnets && discoveredSubnets.length > 0">
                                        <tr *ngFor="let discoveredSubnet of discoveredSubnets">
                                            <td>{{ discoveredSubnet.subnetAddress }}</td>
                                            <td>{{ discoveredSubnet.broadcastAddress }}</td>
                                            <td>{{ discoveredSubnet.size }}</td>
                                            <td>{{ discoveredSubnet.subnetMask }}</td>
                                            <td>{{ discoveredSubnet.addedTime }}</td>
                                            <td>
                                                <i class="fas fa-check-circle text-success"></i>
                                                <span class="ml-2">{{ discoveredSubnet.status }}</span>
                                            </td>
                                            <td>{{ discoveredSubnet.action}}</td>
                                        </tr>
                                    </ng-container>
                                    <tr *ngIf="discoveredSubnets == null || discoveredSubnets.length == 0">
                                        <td colspan="9" style="text-align: center">
                                            {{ statusMessage }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>
        </mat-tab>
    </mat-tab-group>
</div>