<section class="content-body">
    <div class="col-md-12 no-padding">
      <div class="box">
        <div class="box-header">
          <h5 class="box-title">Ips</h5>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th data-column="ipAddress">IP Address</th>
                <th data-column="macName">MAC Address</th>
                <th data-column="ipDNS">IP->DNS</th>
                <th data-column="dnsIp" style="width:125px">DNS->IP</th>
                <th data-column="dnsStatus" style="width: 125px;">DNS Status</th>
                <th data-column="status">Status</th>
                <th data-column="deviceType">Device Type</th>
                <th data-column="connectedSwitch">Connected Switch</th>
                <th data-column="connectedPort">Connected Port</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="ipDetails && ipDetails.length > 0">
                <tr *ngFor="let ipDetail of ipDetails">
                  <td>{{ ipDetail.ipAddress }}</td>
                  <td>{{ ipDetail.macAddress }}</td>
                  <td>{{ ipDetail.ipDNS }}</td>
                  <td>{{ ipDetail.dnsIp }}</td>
                  <td>{{ ipDetail.dnsStatus }}</td>
                  <td>
                    <i class="fas fa-check-circle text-success"></i>
                    <span class="ml-2">{{ ipDetail.status }}</span>
                  </td>
                  <td>{{ ipDetail.deviceType }}</td>
                  <td>{{ ipDetail.connectedSwitch }}</td>
                  <td>{{ ipDetail.connectedPort }}</td>
                </tr>
              </ng-container>
              <tr *ngIf="ipDetails == null || ipDetails.length == 0">
                <td colspan="9" style="text-align: center">
                  {{ statusMessage }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
